/****************** TAG SELECTORS ******************/

body{
    background-color: black;
    margin: 0;
    font-family: 'Merriweather', serif;
    text-align: center;
}

h1{
    margin: 0;
    font-family: 'Titillium Web', sans-serif;

}

h2{
    margin: 0;
    font-family: 'Noto Serif Tamil', serif;
}

h3{
    margin: 0;
    font-family: 'Noto Serif Tamil', serif;
}


/****************** CLASS SELECTORS ******************/

.top-container
{
   
}

.mid-container
{

}

.bot-container
{
  
}

.Moons
{

}

.eyes-top 
{
    width: 180px;
    position:  absolute;
    top: 50px;
    right: 300px;
}