/****************** TAG SELECTORS ******************/

body{
   background-color: black; 
    margin: 0;
    font-family: 'Merriweather', serif;
    text-align: center;
}

h1{
    color: whitesmoke;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;

}

h2{
    color: #E90064;
    margin: 0;
    font-family: 'Noto Serif Tamil', serif;
}

h3{
    color: #6F1AB6;
    margin: 0;
    font-family: 'Noto Serif Tamil', serif;
}

p{
    color: whitesmoke;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
}


/****************** CLASS SELECTORS ******************/

.top-container
{
  /*background: linear-gradient(blue, black, purple); color gradiante*/ 
  background-color: black;
}

.mid-container
{
    background-color: black;
}

.bot-container
{
   position: relative; 
   background-color: black; 
}

.Owl_Title
{
    display: block;
    margin: 0 auto;
    width: 1000px;
    position: relative;
    /*z-index: -1;*/
    top: 100px; 
}

.YoYo
{
    border-radius: 100%;
    width: 300px;
    /*height: 300px; jugarle al burger o hacerla cuadrada o redonda*/
}

.owl-top 
{
    width: 40px;
    position:  absolute;
    top: 20px;
    right: 20px; /*jugarle*/
}

.BoYBoY-bot
{
    width: 150px;
    position:  absolute;
    bottom: 10px;
    left: 100px;
}

.BoYBoY-bot2
{
    width: 150px;
    position:  absolute;
    bottom: 10px;
    right: 100px;
}

.name 
{
  position: relative;
  margin: 0 auto;
  /*width: 50%;*/
  font-size: 75px;
  bottom: 500px; 
  color: aliceblue; 
  background-color: #e9e8e817;
  display: inline-block;
  padding: 5px 50px;
  border-radius: 40px;
  

}

.subtitle
{
    position: relative;
    margin: 0 auto;
    /*width: 50%;*/
    bottom: 500px; 
    font-size: 40px;
    font-weight: 800;
    color: aliceblue;
    
}

.skill-row
{
    display: inline-block;
    margin: 70px 100px;
}

.skill1-img
{
    width: 100px;
}

.skill2-img
{
    width: 100px;
}

.skill3-img
{
    width: 100px;
}